.cardText {
    white-space: normal;
}

.cardImage, .coveredImage {
    blackground-size: 50%;
}

.overflowBackdropCard, .overflowSmallBackdropCard {
    width: 200px;
}

@media all and (min-width: 50em) {
  .homePage .emby-scroller {
    margin-right: 0;
  }
  .homePage .emby-scrollbuttons {
    display: none;
  }
  .homePage .itemsContainer {
    flex-wrap: wrap;
  }
}

.cardBox-bottompadded {
    margin-bottom: 0 !important;
}

.itemTags {visibility: hidden; }
